<!DOCTYPE html>
<html>
  <head>
    <title>MrCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
          <h1>Time is <%= Time.now %></h1>

          <p>A very simple footer</p>

          <%= yield %>
      </div>
  </body>
</html>
